div.paging-button-wrapper {
  float: right;
  margin: 0;
  padding-right: 5%;
}

div.teaser-button-wrapper {
  padding-right: 1%;
}

img.paging-separator-image {
  cursor: pointer;
  outline: none;
}
